@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
.textP {
	font-family: 'Yeseva One', cursive;
	color:#9e7533;
	font-size: 21px;
	color:black;
	text-align:center;
}	
.bgImage1 {
	background-image:
	url(https://wallpaperaccess.com/full/1302751.jpg);
	background-size:100% 100%;
	-webkit-animation: fade-in 1s linear; 
	-moz-animation: fade-in 1s linear; 
	-o-animation: fade-in 1s linear;
	animation: fade-in 1s linear; 
	position:relative;
	z-index:1;
}
.box {
	
	height:750px;
	width:1000px;
	position:absolute;
	left:500px;
	top:170px;
	z-index:2;
	border-radius:10px;
	display:inline-block;
}
.boxvnutrenyi {
	height:650px;
	width:800px;
	position:absolute;
	top:50px;
	left:100px;
	display:table-cell;


}
.box1 {
	height:42px;
	position:relative;
	border-top:1px solid #9e7533;
	border-left:1px solid #9e7533;
	border-right:1px solid #9e7533;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-width:3px;

}
.box2 {
	height:150px;
	position:relative;
	vertical-align:middle;
	overflow-x:hidden;
	border-top:1px solid #9e7533;
	border-left:1px solid #9e7533;
	border-right:1px solid #9e7533;
	border-width:3px;
	
}
.box3 {
	height: 458px;
	position:relative;
	border-width:3px;
}
.boxImage {
	height:310px;
	position:relative;
	border-top:1px solid #9e7533;
	border-left:1px solid #9e7533;
	border-right:1px solid #9e7533;
	border-width:3px;
	
}
.answers {
	height:148px;
	position:relative;
	border-width:3px;
	
	
}
.ans {
	height:74px;
	width:400px;
	position:relative;
	left:13px;
	border: 4px double #9e7533; /* Рамка вокруг таблицы */
	border-collapse: collapse; /* Отображать только одинарные линии */
	
	

}
.ans1 {
	height:74px;
	width:400px;
	position:relative;
	left:13px;
	border: 4px double #9e7533; /* Рамка вокруг таблицы */
	border-collapse: collapse; /* Отображать только одинарные линии */	
}
.table { 
width: 100%; /* Ширина таблицы */
border: 4px double #9e7533; /* Рамка вокруг таблицы */
border-collapse: collapse; /* Отображать только одинарные линии */
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
}
.texBtn1 {
	font-family: 'Yeseva One', cursive;
	font-size:19px;
	color:black;
}
.texBtn2 {
	font-family: 'Yeseva One', cursive;
	font-size:25px;
}
.tac {
	text-align: center;
	padding-top:4px;
}
.textt {
	font-family: 'Yeseva One', cursive;
	font-size:25px;
}
.tp {
	position:absolute;
	left:50px;
	top:50px;

}
.que {
	font-family: 'Oranienbaum', serif;
	font-size:23px;
}
.imgg {
	height:310px;
	width:350px;
	padding-left:50px;
	padding-right:50px;
	position:relative;
	left:200px;
}
.table1 { 
height:42px;
width:100px;
border: 4px double #9e7533; /* Рамка вокруг таблицы */
border-collapse: collapse; /* Отображать только одинарные линии */
position:absolute;
left:350px;
top:-2px;
}
.answ1 {
	font-family: 'Yeseva One', cursive;
	font-size:19px;
	padding-left:10px;
}
.answ2 {
	font-family: 'Yeseva One', cursive;
	font-size:19px;
	padding-left:10px;
}
.answ3 {
	font-family: 'Yeseva One', cursive;
	font-size:19px;
	padding-left:10px;
}
.answ4 {
	font-family: 'Yeseva One', cursive;
	font-size:19px;
	padding-left:10px;
}	
.alert {
	height:100px;
	width:250px;
	background-color:white;
	position:absolute;
	left:900px;
	top:25px;
	display:none;
}
.butt {
	height:50px;
	width:100px;
	background-color:gray;
	position:absolute;
	left:700px;
	top:400px;
}
.a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;

}
.span {
  font-family: 'Oranienbaum', serif;
  position: relative;
  z-index: 5;
}	
.p {
	left:-20px;
	top:-20px;
}
